<div class="cell">
  <h1>{{model.title}}</h1>
  <h2>Local Changes</h2>
  <ol>
    {{#each model.local_changes as |change|}}
      <li>{{change.message}} by {{change.author}}</li>
    {{else}}
      <li>No changes</li>
    {{/each}}
  </ol>
  <h2>Remote Changes</h2>
  <ol>
    {{#each model.remote_changes as |change|}}
      <li>{{change.message}} by {{change.author}}</li>
    {{else}}
      <li>No changes</li>
    {{/each}}
  </ol>
  <button {{action "synchronise"}} class="button">Synchronise changes</button>
</div>
