<div class="grid-x grid-padding-x full-height">
  <nav class="cell medium-3 full-height auto-overflow">
    <ul class="accordion no-padding">
      {{#each menu as |item|}}
        {{#accordion-item title=item.title}}
          <ul class="menu vertical">
            {{#each item.items as |action|}}
              {{#if action.is_active}}
                <li class="is-active"><a {{action action.action action.id}}>{{action.title}}</a></li>
              {{else}}
                <li><a {{action action.action action.id}}>{{action.title}}</a></li>
              {{/if}}
            {{/each}}
          </ul>
        {{/accordion-item}}
      {{/each}}
    </ul>
  </nav>
  <div class="cell auto full-height editor auto-overflow">
  </div>
  <div class="cell medium-3 full-height auto-overflow">
    <dl>
      {{#if (eq blockPropertiesView.category 'heading')}}
        <dt>Heading</dt>
        <dd>
          <label>Heading Type
            <select onchange={{action "set-block-attr" "level"}}>
              <option value="level-1" selected={{eq blockPropertiesView.attrs.level "level-1"}}>Level 1</option>
              <option value="level-2" selected={{eq blockPropertiesView.attrs.level "level-2"}}>Level 2</option>
              <option value="level-3" selected={{eq blockPropertiesView.attrs.level "level-3"}}>Level 3</option>
            </select>
          </label>
        </dd>
      {{/if}}
      {{#if (eq blockPropertiesView.category 'paragraph')}}
        <dt>Paragraph</dt>
        <dd>
          <label>Text Alignment
            <select onchange={{action "set-block-attr" "text_align"}}>
              <option value="left" selected={{eq blockPropertiesView.attrs.text_align "left"}}>Left</option>
              <option value="center" selected={{eq blockPropertiesView.attrs.text_align "center"}}>Center</option>
              <option value="right" selected={{eq blockPropertiesView.attrs.text_align "right"}}>Right</option>
            </select>
          </label>
          <label>{{input type="checkbox" checked=blockPropertiesView.attrs.no_indent change=(action "toggle-block-attr" "no_indent")}}
            No Indentation
          </label>
        </dd>
      {{/if}}
      {{#if inlinePropertiesView}}
        <dt>Text</dt>
        <dd>
          <label>Font Size
            <select onchange={{action "set-mark" "font_size"}}>
              <option value="small" selected={{eq inlinePropertiesView.attrs.size "small"}}>Small</option>
              <option value="" selected={{eq inlinePropertiesView.attrs.size ""}}>Normal</option>
              <option value="medium" selected={{eq inlinePropertiesView.attrs.size "medium"}}>Medium</option>
              <option value="large" selected={{eq inlinePropertiesView.attrs.size "large"}}>Large</option>
            </select>
          </label>
        </dd>
      {{/if}}
    </dl>
  </div>
</div>
