{{#if (eq mode 'display')}}
  {{tei-tag-render elem=elem tagName=(tei-tag-mapper elem.tag) classNames=elem.attrib.style}}
  <ul class="menu hover position-top-right" role="menubar">
    <li>
      <a href="#" role="menuitem" {{action "start-edit"}}>
        <svg viewBox="0 0 24 24" class="icon">
          <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
        </svg>
      </a>
    </li>
  </ul>
{{else}}
  <textarea>{{tei-tag-source-code elem}}</textarea>
  <ul class="menu vertical hover position-top-right" role="menubar">
    <li>
      <a href="#" role="menuitem" {{action "save-edit"}}>
        <svg viewBox="0 0 24 24" class="icon">
          <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
        </svg>
      </a>
      <a href="#" role="menuitem" {{action "cancel-edit"}}>
        <svg viewBox="0 0 24 24" class="icon">
          <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </a>
    </li>
  </ul>
{{/if}}
