{{#if item.items}}
  <a {{action "select"}} role="menuitem">{{item.title}}</a>
  {{dropdown-menu
    items=item.items
    is_nested=true
    is_focus=is_focus
    onaction=onaction
  }}
{{else}}
  <a {{action "select"}} role="menuitem">{{item.title}}</a>
{{/if}}
