<ul class="accordion">
  {{# each fields as |group|}}
    {{#accordion-item title=group.title}}
      {{#each group.items as |item|}}
        {{#if (eq item.type "single")}}
          <label>{{item.title}}
            {{input type="text" value=(get header item.field) change=(action "update-field" item.field)}}
          </label>
        {{/if}}
        {{#if (eq item.type "multiple")}}
          <div class="grid-x">
            {{#each item.schema.items as |sub_item|}}
              <div class="cell auto">
                <label>{{sub_item.title}}
                  {{input type="text" value=(get header sub_item.field) change=(action "update-field" sub_item.field)}}
                </label>
              </div>
            {{/each}}
          </div>
        {{/if}}
        {{#if (eq item.type 'list')}}
          <ul class="no-indent">
            {{#each (get header item.field) as |data_item idx|}}
              {{#if (eq item.schema.type 'multiple')}}
                <li class="grid-x">
                  {{#each item.schema.items as |sub_item|}}
                    <div class="cell auto">
                      <label>{{sub_item.title}}
                        {{input type="text" value=(get data_item sub_item.field) change=(action "update-list-field" item.field idx sub_item.field)}}
                      </label>
                    </div>
                  {{/each}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
        {{/if}}
      {{/each}}
    {{/accordion-item}}
  {{/each}}
</ul>
